version: "2"
services:
  ftp: 
    build: ftp
    image: mcenter_ftp
    container_name: ftp
    ports: 
     - "2121:21"
     - "49900-50000:49900-50000"
    restart: always
    volumes:
     - ${MEDIA_DIR_PATH}:/data/admin/demo
    environment:
     - HOST=${FTP_HOST}
     - PASV_MIN_PORT=49900
     - PASV_MAX_PORT=50000
    networks:
     - back-tier
  redis:
    image: redis
    container_name: redis
    ports: ["6379"]
    restart: always
    command: ["redis-server","--appendonly","yes"]
    volumes:
     - ./redisdb:/data
    networks:
     - back-tier
  quartzdb:
    build: quartzdb
    image: mcenter_quartzdb
    container_name: quartzdb
    ports: ["5432"]
    restart: always
    networks:
     - back-tier

  mcenterdb:
    build: mcenterdb
    container_name: mcenterdb
    restart: always
    ports: ["5432"]
    volumes:
     - ./sqldb:/var/lib/postgresql/data    
    networks:
     - back-tier
  nginx-rtmp:
    image: rjrivero/nginx-rtmp
    container_name: nginx-rtmp
    restart: always
    ports:
     - "1935:1935"
    volumes:
     - ${CONFIG_DIR_PATH}/rtmp.conf:/opt/nginx/conf.d/rtmp.conf:ro
     - ${MEDIA_DIR_PATH}:/var/Videos
    networks:
     - back-tier

  icecast2:
    image: infiniteproject/icecast
    container_name: icecast2
    restart: always
    ports:
      - "8000:8000"
    environment:
      - ICECAST_SOURCE_PASSWORD=${ICECAST_PASSWORD}
      - ICECAST_ADMIN_PASSWORD=${ICECAST_PASSWORD}
      - ICECAST_REPLAY_PASSWORD=${ICECAST_PASSWORD}
      - ICECAST_ADMIN_USERNAME=admin
      - ICECAST_ADMIN_EMAIL=admin@qttb.hcmup.edu.vn
      - ICECAST_LOCATION=
      - ICECAST_HOSTNAME=
      - ICECAST_MAXCLIENTS=100
    networks:
      - back-tier
  app:
    build: java
    image: chuongdang/mcenter_app:1216-getListFile
    container_name: app
    ports:
      - "80:8080"
      - "69:6969"
    restart: always
    volumes:
      - ${MEDIA_DIR_PATH}:/app/ftproot/demo
    links:
      - mcenterdb
      - quartzdb
      - redis
    networks:
      - back-tier

volumes:
   db-data:

networks:  
   back-tier:
