
version: "2"

services:
  db:
    build:./mcenter_db/.
  container_name: db
  ports:
    - "5432:5432"
  volumes:
    - "db-data:/var/lib/postgresql/data"
  nginx-rtmp:
    image: rjrivero/nginx-rtmp
    container_name: nginx-rtmp
    ports:
      - "8081:8080"
      - "1935:1935"
    volumes:
      - "conf.d/rtmp.conf:/opt/nginx/conf.d/rtmp.conf:ro"
      - "${MEDIA_DIR_PATH}:/var/Videos"
      - "stream-db:/opt/rtmp"
  icecast2:
    image: infiniteproject/icecast
    container_name: icecast2
    ports:
      - "8000:8000"
    environment:
      - ICECAST_SOURCE_PASSWORD=${ICECAST_PASSWORD}
      - ICECAST_ADMIN_PASSWORD=${ICECAST_PASSWORD}
      - ICECAST_REPLAY_PASSWORD=${ICECAST_PASSWORD}
      - ICECAST_ADMIN_USERNAME=admin
      - ICECAST_ADMIN_EMAIL=admin@qttb.hcmup.edu.vn
      - ICECAST_LOCATION=
      - ICECAST_HOSTNAME=
      - ICECAST_MAXCLIENTS=100
   
